#header {
  text-align: center;
  font-weight: bolder;
  font-size: 60px;
}
#field {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-around;
}
.inputskill {
  display: flex;
  margin-left: 60px;
}
.form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
#signupform {
  background-color: var(--primary);
  text-align: center;
  border-radius: 20px;
  height: max-content;
  padding-top: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
}
#signuptext {
  font-size: 25px;
  font-weight: bolder;
}
#skill {
  color: black;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
}

#email {
  color: black;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
}
#password {
  color: black;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
}
#signupbtn {
  color: aliceblue;
  background-color: var(--secondary);
  margin: 30px auto;
  width: 250px;
  height: 33px;
  font-size: 20px;
  border-radius: 15px;
  display: block;
}

#addpic {
  color: white;
  background-color: var(--light);
  margin: 20px;
  height: 33px;
  font-size: 15px;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  width: 200px;
}

.input-dropdown {
  width: 260px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 8px;
}

.fa-plane {
  position: relative;
  top: 10px;
}

.fa-graduation-cap {
  position: relative;
  top: 10px;
  left: -7px;
}

@media screen and (min-width: 768px) {
  #signupform {
    width: 500px;
    height: auto;
  }

  .input-dropdown {
    margin-left: 20px;
  }
}
