#userpartion {
  border-top: 2px solid black;
  margin: 5px;
}

#profpic {
  width: 200px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
#flexbody {
  display: flex;
  flex-wrap: wrap;
}
#profilediv {
  border: 3px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 3px 3px black;
  background-color: var(--primary);
  margin: 20px;
}
.editbtn {
  color: aliceblue;
  background-color: var(--secondary);
  width: 90px;
  height: 33px;
  font-size: 20px;
  border-radius: 15px;
}
#git {
  margin: 10px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
#linked {
  margin: 10px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  #userpartion {
    border-top: 1px black;
    border-left: 2px solid black;
    padding-left: 20px;
    margin: 1px;
  }

  #profilediv {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 40px auto;
  }

  #left-section {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid black;
  }

  #right-section {
    margin-top: 10px;
  }
}
