#star {
  content: "\2606";
  color: var(--one);
}
.usernameInput {
  text-align: center;
  font-style: italic;
}
a {
  text-decoration: none;
}
#userdisplay:hover {
  box-shadow: 5px 5px black;
}
#line {
  text-align: center;
  font-weight: bolder;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#dropdown {
  /* width: 250px; */
  margin: 0px 20px;
}
#locatnbtn {
  display: flex;
  flex-wrap: wrap;
}
#skbtn {
  border-radius: 30px;
}

#search {
  color: black;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
  border-radius: 15px;
}
#searchbtn {
  color: aliceblue;
  background-color: var(--secondary);
  margin-left: 20px;
  margin-top: 10px;
  width: 335px;
  height: 37px;
  font-size: 15px;
  border-radius: 5px;
}

#username {
  text-align: center;
  color: blue;
}

#userdisplay {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  color: black;
  padding: 20px;
  background-color: var(--primary);
  max-width: 420px;
}
.userdispplayImg {
  border: 3px solid black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

#no-matches-text {
  text-align: center;
  font-size: 25px;
  background-color: var(--primary);
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
  border: 2px solid black;
}

#learn-or-teach {
  text-decoration: underline;
}

#learn-or-teach:hover {
  color: var(--light);
  cursor: pointer;
}

.skill-tags {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#userdiv {
  margin-top: 50px;
}
@media screen and (min-width: 700px) {
  #dropdown {
    width: 700px;
  }
  .usernameInput {
    margin: 10px;
  }
  #text {
    font-size: 20px;
    font-family: "Playfair", serif;
    margin: 10px;
  }

  #no-matches-text {
    margin: 20px auto;
  }

  #search-bar {
    display: flex;
    justify-content: center;
  }

  #userdiv {
    display: flex;
  }

  #searchbtn {
    margin-top: 0px;
    margin-left: -10px;
    width: 100px;
  }

  .tag-container {
    margin-left: 10px;
    width: 200px;
  }

  .user-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #no-matches-text {
    width: 500px;
  }

  .skill-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
