:root {
  --background: #f9f3ee;
  --secondary: #020d16;
  --primary: #fce46b;
  --light: #303179;
  --base: #141850;

  --one: #210a72;
  --two: #a5d6e4;
  --three: #fbd4d5;
  --four: #e68244;
  --five: #57f1b1;
}

body {
  background-color: var(--background);
}
